Service References/CopyrightService/Srs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Srs.WebPlatform.WebServices.Copyright.CopyrightService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Srs.WebPlatform.WebServices.Copyright.CopyrightService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Srs.WebPlatform.WebServices.Copyright.CopyrightService/Imports">
      <xsd:import schemaLocation="http://localhost:1111/WebServices/Srs.WebPlatform.WebServices.Copyright.CopyrightService.svc?xsd=xsd0" namespace="Srs.WebPlatform.WebServices.Copyright.CopyrightService" />
      <xsd:import schemaLocation="http://localhost:1111/WebServices/Srs.WebPlatform.WebServices.Copyright.CopyrightService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1111/WebServices/Srs.WebPlatform.WebServices.Copyright.CopyrightService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Srs.WebPlatform.WebServices.Copyright" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICopyrightServiceV1_CallFileHeaderEnforcement_InputMessage">
    <wsdl:part name="parameters" element="tns:CallFileHeaderEnforcement" />
  </wsdl:message>
  <wsdl:message name="ICopyrightServiceV1_CallFileHeaderEnforcement_OutputMessage">
    <wsdl:part name="parameters" element="tns:CallFileHeaderEnforcementResponse" />
  </wsdl:message>
  <wsdl:message name="ICopyrightServiceV1_IsProcessing_InputMessage">
    <wsdl:part name="parameters" element="tns:IsProcessing" />
  </wsdl:message>
  <wsdl:message name="ICopyrightServiceV1_IsProcessing_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsProcessingResponse" />
  </wsdl:message>
  <wsdl:message name="ICopyrightServiceV1_IsExistRepository_InputMessage">
    <wsdl:part name="parameters" element="tns:IsExistRepository" />
  </wsdl:message>
  <wsdl:message name="ICopyrightServiceV1_IsExistRepository_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsExistRepositoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICopyrightServiceV1_CloneGitHubRepo_InputMessage">
    <wsdl:part name="parameters" element="tns:CloneGitHubRepo" />
  </wsdl:message>
  <wsdl:message name="ICopyrightServiceV1_CloneGitHubRepo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloneGitHubRepoResponse" />
  </wsdl:message>
  <wsdl:message name="ICopyrightServiceV1_CallFileHeaderTfs_InputMessage">
    <wsdl:part name="parameters" element="tns:CallFileHeaderTfs" />
  </wsdl:message>
  <wsdl:message name="ICopyrightServiceV1_CallFileHeaderTfs_OutputMessage">
    <wsdl:part name="parameters" element="tns:CallFileHeaderTfsResponse" />
  </wsdl:message>
  <wsdl:message name="ICopyrightServiceV1_GetWorkingItemStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkingItemStatus" />
  </wsdl:message>
  <wsdl:message name="ICopyrightServiceV1_GetWorkingItemStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkingItemStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ICopyrightServiceV1_IsExistSourcePath_InputMessage">
    <wsdl:part name="parameters" element="tns:IsExistSourcePath" />
  </wsdl:message>
  <wsdl:message name="ICopyrightServiceV1_IsExistSourcePath_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsExistSourcePathResponse" />
  </wsdl:message>
  <wsdl:message name="ICopyrightServiceV1_GetTfsSourceCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTfsSourceCode" />
  </wsdl:message>
  <wsdl:message name="ICopyrightServiceV1_GetTfsSourceCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTfsSourceCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICopyrightServiceV1_SendEmailReport_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailReport" />
  </wsdl:message>
  <wsdl:message name="ICopyrightServiceV1_SendEmailReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailReportResponse" />
  </wsdl:message>
  <wsdl:portType name="ICopyrightServiceV1">
    <wsdl:operation name="CallFileHeaderEnforcement">
      <wsdl:input wsaw:Action="Srs.WebPlatform.WebServices.Copyright.CopyrightService/ICopyrightServiceV1/CallFileHeaderEnforcement" message="tns:ICopyrightServiceV1_CallFileHeaderEnforcement_InputMessage" />
      <wsdl:output wsaw:Action="Srs.WebPlatform.WebServices.Copyright.CopyrightService/ICopyrightServiceV1/CallFileHeaderEnforcementResponse" message="tns:ICopyrightServiceV1_CallFileHeaderEnforcement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsProcessing">
      <wsdl:input wsaw:Action="Srs.WebPlatform.WebServices.Copyright.CopyrightService/ICopyrightServiceV1/IsProcessing" message="tns:ICopyrightServiceV1_IsProcessing_InputMessage" />
      <wsdl:output wsaw:Action="Srs.WebPlatform.WebServices.Copyright.CopyrightService/ICopyrightServiceV1/IsProcessingResponse" message="tns:ICopyrightServiceV1_IsProcessing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsExistRepository">
      <wsdl:input wsaw:Action="Srs.WebPlatform.WebServices.Copyright.CopyrightService/ICopyrightServiceV1/IsExistRepository" message="tns:ICopyrightServiceV1_IsExistRepository_InputMessage" />
      <wsdl:output wsaw:Action="Srs.WebPlatform.WebServices.Copyright.CopyrightService/ICopyrightServiceV1/IsExistRepositoryResponse" message="tns:ICopyrightServiceV1_IsExistRepository_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloneGitHubRepo">
      <wsdl:input wsaw:Action="Srs.WebPlatform.WebServices.Copyright.CopyrightService/ICopyrightServiceV1/CloneGitHubRepo" message="tns:ICopyrightServiceV1_CloneGitHubRepo_InputMessage" />
      <wsdl:output wsaw:Action="Srs.WebPlatform.WebServices.Copyright.CopyrightService/ICopyrightServiceV1/CloneGitHubRepoResponse" message="tns:ICopyrightServiceV1_CloneGitHubRepo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CallFileHeaderTfs">
      <wsdl:input wsaw:Action="Srs.WebPlatform.WebServices.Copyright.CopyrightService/ICopyrightServiceV1/CallFileHeaderTfs" message="tns:ICopyrightServiceV1_CallFileHeaderTfs_InputMessage" />
      <wsdl:output wsaw:Action="Srs.WebPlatform.WebServices.Copyright.CopyrightService/ICopyrightServiceV1/CallFileHeaderTfsResponse" message="tns:ICopyrightServiceV1_CallFileHeaderTfs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkingItemStatus">
      <wsdl:input wsaw:Action="Srs.WebPlatform.WebServices.Copyright.CopyrightService/ICopyrightServiceV1/GetWorkingItemStatus" message="tns:ICopyrightServiceV1_GetWorkingItemStatus_InputMessage" />
      <wsdl:output wsaw:Action="Srs.WebPlatform.WebServices.Copyright.CopyrightService/ICopyrightServiceV1/GetWorkingItemStatusResponse" message="tns:ICopyrightServiceV1_GetWorkingItemStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsExistSourcePath">
      <wsdl:input wsaw:Action="Srs.WebPlatform.WebServices.Copyright.CopyrightService/ICopyrightServiceV1/IsExistSourcePath" message="tns:ICopyrightServiceV1_IsExistSourcePath_InputMessage" />
      <wsdl:output wsaw:Action="Srs.WebPlatform.WebServices.Copyright.CopyrightService/ICopyrightServiceV1/IsExistSourcePathResponse" message="tns:ICopyrightServiceV1_IsExistSourcePath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTfsSourceCode">
      <wsdl:input wsaw:Action="Srs.WebPlatform.WebServices.Copyright.CopyrightService/ICopyrightServiceV1/GetTfsSourceCode" message="tns:ICopyrightServiceV1_GetTfsSourceCode_InputMessage" />
      <wsdl:output wsaw:Action="Srs.WebPlatform.WebServices.Copyright.CopyrightService/ICopyrightServiceV1/GetTfsSourceCodeResponse" message="tns:ICopyrightServiceV1_GetTfsSourceCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailReport">
      <wsdl:input wsaw:Action="Srs.WebPlatform.WebServices.Copyright.CopyrightService/ICopyrightServiceV1/SendEmailReport" message="tns:ICopyrightServiceV1_SendEmailReport_InputMessage" />
      <wsdl:output wsaw:Action="Srs.WebPlatform.WebServices.Copyright.CopyrightService/ICopyrightServiceV1/SendEmailReportResponse" message="tns:ICopyrightServiceV1_SendEmailReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>