Service References/CopyrightService/Srs2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Srs.WebPlatform.WebServices.Copyright" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Srs.WebPlatform.WebServices.Copyright" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ObjectResponseV1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectResponseV1" nillable="true" type="tns:ObjectResponseV1" />
</xs:schema>